# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list most common languages in data science
- list most common used libraries by data scientists
- create a table listing the open source development environment 
- give an example of arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |  
| RStudio            |
| Ray                | 
| Apache Spark       |
|IBM Watson Studio   |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
x = 200 # minutes
y = 200/60 
print(y)

3.3333333333333335

## Author:
Dina Al-Heyari